.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  transition: border-color var(--transition-func);
}

.clients__icon {
  display: block;
  fill: currentColor;
  transition: fill var(--transition-func);
}

.clients__link:focus,
.clients__link:hover {
  border-color: var(--accent-color);
  border-radius: 4px;
  outline: transparent;
}

.clients__link:focus .clients__icon,
.clients__link:hover .clients__icon {
  fill: var(--accent-color);
}
